.Experiences {
    background-color: #405410;
    padding: 50px;
}

.Experiences h1 {
    padding-top: 50px;
    color: #C69B3C;
    text-align: center;
    font-family: 'Abhaya Libre ExtraBold';
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.Experiences h2 { 
    text-align: center;
    margin-bottom: 50px;
    color: white;
    font-family: 'Abhaya Libre ExtraBold';

}

.Experiences p {
    font-family: 'Roboto';
    color: white;
}

.Experiences hr {
    margin-top: 25px;
    border-radius: 3px solid #C69B3C;
    margin-bottom: 0px;
    color: rgb(198, 155, 60);
    background-color: rgb(198, 155, 60);
    height: 2px;
    border-color: rgb(198, 155, 60);
    border-radius: 2px solid #C69B3C;
    margin-top: -18px;
    width: 300px;
}

.OurFood {
    border: 2px solid #C69B3C;
    margin: 70px;
    padding: 50px;
    padding-bottom: 20px;
    display: flex;

}


.Experiences img {
    margin: 100px;
    margin-top: 0px;
    height: 275px;
}

@media  (max-width: 800px) 
{

    .OurFood {
        margin: 0px;
        flex-direction: column;
    }

    .Experiences h1 {
        font-size: 20px;
    }

    .OurFood p {
        text-align: center;
        font-size: 12px;
    }

    .Experiences img {
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-bottom: 15px;
    }

    .Experiences hr {
        margin-top: 3.5px;
        margin-bottom: 15px;
        width: 60px;
    }

    
    
}