.pc {
    display: block;
}

.mobile {
    display: none;
}

.stick {
    position: fixed;
    right: 0px;
    bottom: 172px;


}

.stick2 {
    position: fixed;
    right: 0px;
    bottom: 100px;
}


.stick img {
    width: 80px;
    height: 80px;
}

.stick2 img {
    width: 80px;
    height: 80px;
}

@media (max-width: 1200px) {
    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }

    .stick img {
        width: 60px;
        height: 60px;
    }
    .stick2 img {
        width: 60px;
        height: 60px;
    }
}